* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    color: hsl(257, 7%, 63%);
}

header {
    position: fixed;
    width: 100%;
    height: 70px;
    padding: 0px 20px;
    z-index: 3;
    background-color: #fff;
  }

header .logo {
    display: inline-block;
    padding-top: 20px;

  }  
  
header ul {
    list-style: none;
    overflow: hidden;
    background-color: hsl(257, 27%, 26%);
    border-radius: 10px;
    padding: 0px;
    height: 380px;
  }

header li {
    text-align: center;
  }
  
header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
  }
  
header li a:hover {
    color: hsl(257, 7%, 63%);
  }

.menu {
    max-height: 0;
    transition: max-height .2s ease-out;
  }

hr {
    width: 90%;
    border: 1px solid hsl(257, 16%, 33%);
    margin: 10px auto;
}  

.btn-nav {
    width: 80%;
    height: 30px;
    border-radius: 30px;
    background-color: hsl(180, 66%, 49%);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}  

.btn-nav:hover {
    background-color: hsl(180, 54%, 75%);
    color: #fff;
}

.menu-icon {
    cursor: pointer;
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    position: relative;
    user-select: none;
  }
  
.navicon {
    background: hsl(0, 0%, 75%);
    display: block;
    height: 3px;
    position: relative;
    width: 30px;
  }
  
.menu-icon .navicon:before,
.menu-icon .navicon:after {
    background: hsl(0, 0%, 75%);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  
.menu-icon .navicon:before {
    top: 8px;
  }

.menu-icon .navicon:after {
    top: -8px;
  }
  
.menu-btn {
    display: none;
  }

.menu-btn:checked ~ .menu {
    max-height: 400px;
  }
  
.img-style{
    width: 100%;
}

.hero-wrapper {
    display: flex;
    flex-direction: column-reverse;
    height: 750px;
    margin-bottom: 100px;
}

.hero-message-wrapper {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.hero-message-wrapper h1 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 40px;
    text-align: center;
    line-height : 50px;
    color: hsl(260, 8%, 14%);
}

.hero-message-wrapper p {
    text-align: center;
    font-size: 18px;
    line-height : 30px;
    margin-bottom: 10px;
}

.hero-imagw-wrapper {
    height: 450px;
    overflow: hidden;
}

.hero-imagw-wrapper img {
    padding-top: 50px;
    width: 500px;
    margin-left: 20px;
    margin-top: 10px;
}

.btn-primary {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: hsl(180, 66%, 49%);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    outline: none;
    border: none;
}

.btn-primary:hover {
    background-color: hsl(180, 54%, 75%);
}

.middle-wrapper {
    background-color: hsl(260, 17%, 93%);
    height: 800px;
    position: relative;
}

.links-wrapper {
    width: 90%;
    height: 420px;
    position: absolute;
    top: -80px;
    left: 5%;
}

.form-group {
    height: 180px;
    background-image: url(/images/bg-shorten-mobile.svg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-color: hsl(257, 27%, 26%);
    padding: 25px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form-group small {
    color: hsl(0, 87%, 67%);
    margin-right: auto;
    margin-left: 10px;
    display: none;
}

.form-group input {
    width: 95%;
    height: 45px;
    border-radius: 4px;
    outline: none;
    padding-left: 15px;
    font-size: 18px;
}

.form-group input::placeholder {
    color: hsl(0, 50%, 79%);
    font-size: 18px;
}

.form-group input:focus {
    border: 3px solid hsl(0, 87%, 67%);
}

.form-group input:focus ~ small {
    display: block;
}

.form-group input:focus ~ .desktop-small  {
    display: none;
}

.form-group label {
    width: 100%;
    height: 45px;
    margin-left: 8px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: hsl(180, 66%, 49%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group label:hover {
    background-color: hsl(180, 54%, 75%);
}

.div-links {
    width: 100%;
    margin: 0;
}

.div-links ul {
    padding: 0;
    margin-top: 30px;
}

.div-links ul li {
    width: 100%;
    height: 170px;
    list-style: none;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-size: 18px;
}

.div-links ul li:nth-of-type(2),  .div-links ul li:nth-of-type(2) ~ li{
    margin-top: 20px;
}

.div-links ul li p {
    height: 45px;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: hsl(260, 8%, 14%);
}

.hr-mobile{
    border: 1px solid hsl(260, 17%, 93%);
}

.div-links ul li p:nth-of-type(2) {
    color: hsl(180, 66%, 49%);
}

.button-links {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.btn-cyan {
    background-color: hsl(180, 66%, 49%);
}

.btn-cyan:hover {
    background-color: hsl(180, 54%, 75%);
}

.btn-violet {
    background-color: hsl(257, 27%, 26%);
}

.btn-violet:hover {
    background-color: hsl(255, 11%, 30%);
}

#display-links {
        display: none;
}

.section-advanced-wrapper{
    display:flex;
    flex-direction: column;
    background-color: hsl(260, 17%, 93%);
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}

.section-advanced-wrapper .main{
    display: block;
    height: 220px;
    margin-bottom: 40px;
}

 .main h2{
  /*  font-family: "Poppins", "Bold Italic";*/
    display: flex;
    color: hsl(260, 8%, 14%);
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
}
.main p{
    display: flex;
    color:hsl(0, 0%, 60%);
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
   /* padding: 0 20%;*/
    margin-top: 0;
    /*margin-bottom: 100px;*/
    padding: 0 10%;
   /* margin-bottom: 100px;*/
}

.card-brand h4 , .card-rec h4 , .card-custom h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 25px;
    color: hsl(258, 8%, 24%);
}

.boost-wrapper {
    height: 300px;
    background-image: url(/images/bg-boost-mobile.svg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-color: hsl(257, 27%, 26%);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boost-wrapper h3 {
    color: #fff;
    font-size: 25px;
}

footer {
    height: 800px;
    background-color: hsl(260, 8%, 14%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

.footer-nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav-wrapper h5 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
}

.footer-nav-wrapper ul {
    padding: 0%;
    list-style: none;
    text-align: center;
}

.footer-nav-wrapper ul li {
    margin-top: 8px;
}

.footer-nav-wrapper ul li a {
    color:hsl(0, 0%, 75%);
    text-decoration: none;
}


.footer-nav-wrapper ul li a:hover {
    color: hsl(257, 7%, 63%);
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-icons i {
    margin-right: 20px;
    color: #fff;
}

@media only screen and (min-width: 1200px) {
    header {
        padding: 0px 80px;
    }

    header ul {
        background-color: #fff;
        height: 70px;
      }

      header li {
        float: left;
      }
      header li a {
        padding: 20px 20px;
      }
    
    header li a {
        color: hsl(0, 0%, 75%);
    } 

    header .menu-icon {
        display: none;
      }

    header .menu {
        clear: none;
        float: right;
        max-height: none;
      }  

    .nav-left {
        margin-right: 700px;
    }

    hr {
        display: none;
    }

    .btn-nav {
        width: 150px;
        height: 30px;
    }  

    .hero-wrapper {
        display: flex;
        flex-direction: row;
        height: 500px;
        padding-top: 80px;
    }
    
    .hero-message-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }
    
    .hero-message-wrapper h1 {
        width: 70%;
        margin-bottom: 8px;
        font-size: 60px;
        text-align: left;
        line-height : 70px;
    }
    
    .hero-message-wrapper p {
        width: 60%;
        text-align: left;
        font-size: 18px;
    }

    .btn-left {
        margin-right: auto;
        margin-left: 20%;
    }
    
    .hero-imagw-wrapper {
        height: 500px;
    }
    
    .hero-imagw-wrapper img {
        width: 70%;
        margin-left: 200px;
        padding-top: 10px;
    }

    .middle-wrapper {
        height: 450px;
    }
    
    .links-wrapper {
        width: 65%;
        height: 420px;
        position: absolute;
        top: -80px;
        left: 17.5%;
    }
    
    .form-group {
        height: 150px;
        background-image: url(/images/bg-shorten-desktop.svg);
        padding: 30px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .form-group small {
        display: none;
    }

    .desktop-small {
        align-self: flex-start;
        margin-left: 25px;
        margin-top: 10pxpx;
    }
    
    .form-group input, label {
        margin-top: 20px;
    }
    
    .form-group input {
        width: 75%;
        height: 60px;
        border-radius: 8px;
        padding-left: 20px;
        font-size: 18px;
        
    }
    
    .form-group input::placeholder {
        color: hsl(0, 50%, 79%);
        font-size: 18px;
    }
    
    .form-group input:focus {
        border: 3px solid hsl(0, 87%, 67%);
    }
    
    .form-group input:focus ~ .desktop-small  {
        display: block;
    }

    .form-group input:focus ~ small  {
        display: none;
    }
    
    .form-group label {
        width: 20%;
        height: 60px;
        margin-left: 30px;
        border-radius: 8px;
    }
    
    .form-group label:hover {
        background-color: hsl(180, 54%, 75%);
    }
    
    .div-links {
        margin-top: 30px;
    }

    .div-links ul li {
        height: 70px;
        margin-top: 20px;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;
    }
    
    .div-links ul li p:nth-of-type(2) {
        margin-left: auto;
        margin-right: 20px;
        color: hsl(180, 66%, 49%);
    }

    .hr-mobile{
        display: none;
    }
    
    .button-links {
        width: 90px;
        height: 35px;
    }

    #display-links {
        display: none;
    }

    .form-group label:checked  ~ .div-links{
        display: none
    } 

    .card-wrapper{
        padding-top: 0px;
    }

    .boost-wrapper {
        background-image: url(/images/bg-boost-desktop.svg);
        background-repeat: no-repeat, repeat;
        background-size: cover;
        background-color: hsl(257, 27%, 26%);
    }

    .boost-wrapper h3 {
        color: #fff;
        font-size: 30px;
    }

    footer {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        padding: 40px;
        color: #fff;
    }
    
    .footer-nav-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }

    .footer-logo-wrapper {
        width: 30%;
    
    }
    
    .footer-nav-wrapper h5 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .footer-nav-wrapper ul {
        padding: 0%;
        list-style: none;
        text-align: left;
    }
    
    .footer-nav-wrapper ul li {
        margin-top: 8px;
    }
    
    .footer-nav-wrapper ul li a {
        color:hsl(0, 0%, 75%);
        text-decoration: none;
    }
    
    
    .footer-nav-wrapper ul li a:hover {
        color: hsl(257, 7%, 63%);
    }
    
    .social-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .social-icons i {
        margin-right: 20px;
    }

}

@media only screen

  and (min-device-width: 375px)

  and (max-device-width: 1440px){

    .main{
        position: relative;
        z-index: -1000;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        background-color: hsl(260, 17%, 93%);
        height: 400px;
        padding:0 5%;
    }

    .main h2{
        display: flex;      
        font-family: 'Poppins', sans-serif;        
        font-size: 40px;
        font-weight: 700;
    }

    .main p{
        display: flex;         
        color:hsl(0, 0%, 60%);
        line-height: 25px;
        font-weight: 500;   
        font-size: 25px;      
        text-align: center;
        justify-content: center;
        margin-top: 0;
        padding: 0 10%;
    }

    .line-of-section{
        position:absolute;
        z-index: -1000;  
        display: flex;
        align-self: center;
        -webkit-transform:rotate(90deg);                 
        margin:auto;
        padding:0;  
        border-top: solid 8px turquoise;
        width: 800px;
        background-color: hsl(0, 0%, 60%);
    }

    .section-advanced-wrapper{
        position: relative;
        z-index: -100;  
        display:flex;
        flex-direction: column;
        background-color: hsl(258, 15%, 96%);
        justify-content: center;
        text-align: center;
        padding-bottom: 100px;
    }

    .section-advanced-wrapper .card-brand{
        
        display: flex;
        box-sizing: border-box;
       /* padding: 0 20px;*/
       /* line-height: 20px;*/
        flex-direction: column;
        margin: auto;
        margin-bottom: 100px;
        align-self: center;
        width: 85%;
        max-height:200px;
        background-color: white;
        min-height:300px; 
    }

    .section-advanced-wrapper .card-brand .image-wrapper-brand{
        margin-top: -50px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center; 
    }

    .section-advanced-wrapper .card-brand p{
        padding:0 10%;
        color:hsl(0, 0%, 60%);
        padding-bottom: 100px;
        max-height: 100px;
        
    }
    
    .section-advanced-wrapper .card-rec{
        display: flex;
        box-sizing: border-box;
      /*  padding: 0 20px;*/
        flex-direction: column;
        margin: auto;
        margin-bottom: 100px;
        align-self: center;
        width: 85%;
        min-height:300px;
        background-color: white;     
    }

    .section-advanced-wrapper .card-rec .image-wrapper-rec{
        margin-top: -50px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center; 
    }

    .section-advanced-wrapper .card-rec p{
        padding:0 10%;
        color:hsl(0, 0%, 60%);

    }

    .section-advanced-wrapper .card-brand .image-wrapper-brand span{
        display: flex;
        align-self: center;
        width:90px;
        height: 90px;
        background-color:hsl(255, 32%, 26%);
        border-radius: 50px;
    }

    .section-advanced-wrapper .card-brand .image-wrapper-brand img{
        display: flex;
        align-self: center;
        margin: auto;
        width: 45px;
        height: 45px;
    }

    .section-advanced-wrapper .card-rec .image-wrapper-rec span{
        display: flex;
        align-self: center;
        width:90px;
        height: 90px;
        background-color:hsl(255, 32%, 26%);
        border-radius: 50px;
    }

    .section-advanced-wrapper .card-rec .image-wrapper-rec img{
        display: flex;
        align-self: center;
        margin: auto;
        width: 45px;
        height: 45px;
    }

    /*Card CUSTOM */

     .section-advanced-wrapper .card-custom{

        display: flex;
        box-sizing: content-box;
       /* padding: 0 20px;*/
        flex-direction: column;
        margin: auto;
        margin-bottom: 15px;
        align-self: center;
        width: 85%;
        min-height:300px;
        background-color: white;     
    }

    .section-advanced-wrapper .card-custom .image-wrapper-custom{
        margin-top: -50px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center; 
    }
    
    .section-advanced-wrapper .card-custom p{
        padding:0 10%;
        color:hsl(0, 0%, 60%);

    }

    .section-advanced-wrapper .card-custom .image-wrapper-custom span{
        display: flex;
        align-self: center;
        width:90px;
        height: 90px;
        background-color:hsl(255, 32%, 26%);
        border-radius: 50px;
    }

    .section-advanced-wrapper .card-custom .image-wrapper-custom img{
        display: flex;
        align-self: center;
        margin: auto;
        width: 45px;
        height: 45px;
    }
}

/*Mediaquery Desktop*/
@media only screen and (min-width:1400px){

    .main{
        display: flex;
        align-content: center;
        text-align: center;
        flex-direction: column;
        background-color: hsl(260, 17%, 93%);
        height: 200px;
        padding:0 5%;
    }
       
    .main h2{
        display: block;      
       /* font-family: 'Poppins', sans-serif;       */ 
        font-weight: 600;
        align-content: center;
        text-align: center;
        font-size:45px;
    }

    .main p{
        display: flex; 
        font-size: 25px;
        font-style: SemiBold;
        color:hsl(0, 0%, 60%);
        line-height: 40px;
        font-weight: 500;  
        text-align: center;
        justify-content: center;
       /* padding: 0 20%;*/
        margin-top: 0;
        /*margin-bottom: 100px;*/
        padding: 0 30%;
       /* margin-bottom: 100px;*/        
    }

    .line-of-section{
        top:320px;
        display: flex;
        position: absolute;
        z-index: -10000;
        margin:auto;
        padding:0;  
        border-top: solid 8px turquoise;
        width:1000px;
        background-color: hsl(0, 0%, 60%);
    }
    
    .section-advanced-wrapper{
        display:flex;     
        position: relative;
        z-index: -1000;   
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        padding-bottom: 100px;
        padding-left: 5%;
        padding-right: 5%;
        height: 700px;   
    }

    .section-advanced-wrapper .card-brand{
        display: flex;
        box-sizing: border-box;
       /* padding: 0 20px;*/
       /* line-height: 20px;*/
        flex-direction: column;
        margin-right: 40px; 
        align-self: center;
        width: 35%;
        height:330px;
        background-color: white;
    }

    .section-advanced-wrapper .card-brand .image-wrapper-brand{
        margin-top: -50px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center; 
        height: 90px;
    }

    .section-advanced-wrapper .card-brand h4{
        text-align: left;
        font-size: 20px;
        padding:0 10%;
    }

    .section-advanced-wrapper .card-brand p{
        text-align: left;
        font-size: 20px;
        padding:0 10%;
        color:hsl(0, 0%, 60%);
        padding-bottom: 100px;
        max-height: 100px;  
    }

    .section-advanced-wrapper .card-rec{
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        margin:0;
        margin-right: 40px;
        margin-top: 110px;
        align-self: center;
        width: 35%;
        height:330px;
        background-color: white;
   
    }

    .section-advanced-wrapper .card-rec .image-wrapper-rec{
        margin-top: -50px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center; 
        height:90px;
    }

    .section-advanced-wrapper .card-rec h4{
        text-align: left;
        font-size: 20px;
        margin-top:30px;
        margin-bottom: 20px;
        padding: 0 10%;

    }
    
    .section-advanced-wrapper .card-rec p{   
        text-align: left;
        font-size: 20px;
        padding:0 10%;
        color:hsl(0, 0%, 60%);
        margin-bottom:20px;
    }

    .section-advanced-wrapper .card-brand .image-wrapper-brand span{
        display: flex;
        align-self: left;
        margin-left: 30px;
        width:90px;
        height: 90px;
        background-color:hsl(255, 32%, 26%);
        border-radius: 50px;
    }

    .section-advanced-wrapper .card-brand .image-wrapper-brand img{
        display: flex;
        align-self: center;
        margin: auto;
        width: 45px;
        height: 45px;
    }

    .section-advanced-wrapper .card-rec .image-wrapper-rec span{
        display: flex;
        align-self: left;
        margin-left: 30px;
        width:90px;
        height: 90px;
        background-color:hsl(255, 32%, 26%);
        border-radius: 50px;
    }

    .section-advanced-wrapper .card-rec .image-wrapper-rec img{
        display: flex;
        align-self: center;
        margin: auto;     
        width: 45px;
        height: 45px;
    }

    /*Card CUSTOM */

     .section-advanced-wrapper .card-custom{

        display: flex;
        box-sizing: border-box;           
        flex-direction: column;
        margin: 0;
        margin-top: 220px;
        align-self: center;
        width: 35%;
        height:330px;
        background-color: white;
    }

    .section-advanced-wrapper .card-custom .image-wrapper-custom{
        margin-top: -50px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;    
    }

    .section-advanced-wrapper .card-custom h4{
        text-align: left;
        font-size: 20px;
        padding:0 10%;
    }
 
    .section-advanced-wrapper .card-custom p{
        text-align: left;
        font-size: 20px;
        padding:0 10%;
        color:hsl(0, 0%, 60%);
    }

    .section-advanced-wrapper .card-custom .image-wrapper-custom span{
        display: flex;
        align-self: left;
        margin-left: 30px;
        width:90px;
        height: 90px;
        background-color:hsl(255, 32%, 26%);
        border-radius: 50px;
    }

    .section-advanced-wrapper .card-custom .image-wrapper-custom img{
        display: flex;
        align-self: center;
        margin: auto;
        width: 45px;
        height: 45px;
    }

}